.root-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.white-select {
  color: #fff;
  background-color: #444;
  border-radius: 5px;
}

.white-select:hover,
.white-select:focus {
  background-color: #555;
}

.white-textfield input {
  color: #fff;
  background-color: #444;
  border-radius: 5px;
}

.white-textfield input:hover,
.white-textfield input:focus {
  background-color: #555;
}
